<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Documento</th>
      <th scope="col">fecha</th>
      <th scope="col">Cliente</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (document of docs; let i = $index; track i; ) {
    <tr>
      <th scope="row">
        {{ i + 1 }}
      </th>
      <td>{{ document.name }}</td>
      <td>{{ document.date | date : "dd/MM/yyyy" }}</td>
      <td>{{ document.client.name }}</td>
      <td>
        {{ document.total | currency : "ARS" : "$" : "1.2-2" : "es-AR" }}
      </td>
      <td class="d-flex gap-1 justify-content-end">
        <button type="button" class="btn btn-outline-secondary">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-outline-danger">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
    } @empty {
    <tr>
      <th scope="row">1</th>
      <td>documento ejemplo</td>
      <td>{{ today | date : "dd/MM/yyyy" }}</td>
      <td>John Doe</td>
      <td>
        {{ 1500 | currency : "ARS" : "$" : "1.2-2" : "es-AR" }}
      </td>
      <td class="d-flex gap-1 justify-content-end">
        <button type="button" class="btn btn-outline-secondary btn-heigh">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-heigh">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
