<form [formGroup]="form" class="container" autocomplete="off">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label class="form-label" for="name">Nombre</label>
        <input class="form-control" type="text" name="name" id="name" />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label class="form-label" for="cliente">Nombre</label>
        <div class="input-group">
          <button
            (click)="addClient()"
            class="input-group-text justify-content-center btn-height"
            type="button"
          >
            <i class="text-primary fa-solid fa-user-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label class="form-label" for="type"> Tipo de medida </label>
        <div class="input-group"></div>
      </div>
    </div>
  </div>
</form>
