@import "@ng-select/ng-select/themes/default.theme.css";

.form-control,
.ng-select-container {
  padding: 6px 12px 3 12px !important;
  height: 38px !important;
  font-size: 0.91rem !important;
  line-height: 1.2rem !important;
}

.btn-height {
  height: 38px !important;
}
